@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #efefef;
}

#wrap:hover .item {
  margin-left: 50px;
}

#wrap .item {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px #ddd;
          box-shadow: 5px 5px 20px #ddd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#wrap .item:nth-of-type(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#wrap .item:nth-of-type(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#wrap .item:nth-of-type(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#wrap .item:hover {
  background: skyblue;
}

#wrap .item:hover h2 {
  color: #fff;
}

#wrap .item:hover p {
  color: #eee;
}

#wrap .item:hover a {
  color: yellow;
}

#wrap .item h2 {
  color: #555;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#wrap .item p {
  color: #bbb;
  font-size: 16px;
  font-family: 'arial';
  margin-bottom: 10px;
}

#wrap .item a {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: gray;
}
