@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import 'color';
@import 'reset';
@import 'mixin';
#wrap {
    &:hover {
        .item {
            margin-left: 50px;
        }
    }
    .item {
        width: 300px;
        margin: 20px;
        padding: 20px;
        background: $bgBoxColor;
        border-radius: 10px;
        box-shadow: 5px 5px 20px #ddd;
        transition: all 0.3s;
        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {transition-delay: 0.2s * $i};
        }
        // &:nth-of-type(1) {transition-delay: 0.2s;}
        // &:nth-of-type(2) {transition-delay: 0.4s;}
        // &:nth-of-type(3) {transition-delay: 0.6s;}
        &:hover {
            background: skyblue;
            h2 {color: #fff;}
            p {color: #eee;}
            a {color: yellow;}
        }
        h2 {
            color: $titleColor;
            font-size: 30px;
            font-family: 'Orbitron', sans-serif;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        p {
            color: $contentColor;
            font-size: 16px;
            font-family: 'arial';
            margin-bottom: 10px;
        }
        a {
            @include button();
        }
    }
}


