@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    background: lightcyan;
    
    section {
        width: 100%; height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border: 10px solid blue;

        article {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            width: 100px;
            height: 100px;
            background: aqua;
            border: 1px solid #000;
            
            &:nth-of-type(1) {order: 3;}
            &:nth-of-type(2) {order: 1;}
            &:nth-of-type(3) {order: 2;}
            &:nth-of-type(4) {order: 5;}
            &:nth-of-type(5) {order: 4;}

        }
    }
}