.pic {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 200%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}