.txt {
    text-align: center;
    position: relative;
    z-index: 3;

    h2 {
        font: bold 20px/1 'arial';
        color: #222;
        margin-bottom: 2vh;
    }
    p {
        font: 12px/1.2 'arial';
        color: #777;
        margin-bottom: 3vh;
    }
    ul {
        display: flex;
        justify-content: space-around;
        li {
            cursor: pointer;
            opacity: 0.6;
            transition: 0.5s;
            &.play {
                transform: scale(1.5);
                opacity: 0.9;
            }
            &:hover {
                transform: scale(1.5);
                opacity: 0.8;
                &.play {
                    transform: scale(2);
                    opacity: 1;
                }
            }
        }
    }
}