section {
    width: 20vw;
    height: 65vh;
    position: absolute;
    left: 50%; top: 150%;
    margin-top: -32vh;
    margin-left: -10vw;
    transition: 0.5s;

    article {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px; top: 0px;

        .inner {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
            background: #f0f7ff;
            padding: 5vh 2.5vw 8vh;
            opacity: .6;
            transform: scale(0.8);
            transition: opacity 1s, transform 1s;
        }

        &.on {
            .inner {
                opacity: 0.9;
                transform: scale(1.1);
            }
        }
    }
}