@charset "utf-8";
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');

#wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(45deg, #ac8bef, #2ddbdc);
    h1 {
        font: normal 24px/1 'orbitron';
        color: #fff;
        letter-spacing: 1px;
        position: absolute;
        left: 5vw;
        top: 7vh;
        
        span {
            opacity: 0.5;
        }
    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            width: 500px;
            height: 500px;
            position: relative;
            top: 20vh;

            .inner {
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: 0.4;
                padding: 30px;
                color: #fff;
                transition: 1s;

                .con {
                    position: relative;
                    z-index: 5;

                    img {
                        width: 100%; 
                        hieght: 100%;
                    }

                    h2 {
                        font: normal 32px/1.2 'roboto';
                        color: #111;
                        margin-top: 15px;
                        margin-bottom: 20px;

                        &::after {
                            content: '';
                            display: block;
                            width: 30px;
                            height: 1px;
                            background-color: #111;
                            margin-top: 15px;
                            transition: 1s 0.5s;
                        }
                    }

                    p {
                        font: normal 14px/1.3 'arial';
                        color: #aaa;
                        letter-spacing: 1px;
                    }
                }
            }

            &.swiper-slide-prev, &.swiper-slide-next {
                .inner {
                    opacity: 0.7;
                }
            }

            &.swiper-slide-active {
                .inner {
                    opacity: 1;
                    .con h2::after {
                        width: 100px;
                    }
                }
            }
        }
    }

    .swiper-button-prev{
        top: auto;
        left: auto;
        bottom: 5vh;
        right: calc(5vw + 50px);
        filter: grayscale(100%) brightness(300%);
        transform: scale(0.5);
    }
    .swiper-button-next {
        top: auto;
        left: auto;
        bottom: 5vh;
        right: 5vw;
        filter: grayscale(100%) brightness(300%);
        transform: scale(0.5);
    }

    .swiper-pagination {
        bottom: auto;
        left: auto;
        top: 5vh;
        right: 5vw;
        width: auto;
        font: 18px/1 'orbitron';
        color: #eee;
        letter-spacing: 1px;

        .swiper-pagination-current {
            font-size: 30px;
            color: #fff;
        }
    }
}