@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Rajdhani:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  outline: 0;
  text-decoration: none; }

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 25vh 10vw 15vh; }
  body main {
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee; }
    body main h1 {
      font: 2vw/1 'Rajdhani';
      color: #555;
      position: absolute;
      left: 0px;
      top: -3vw; }
      body main h1::before {
        content: '';
        display: block;
        width: 4vw;
        height: 1px;
        background: #111;
        position: absolute;
        left: 0px;
        top: -10px; }
    body main .btnUp {
      display: block;
      width: 61px;
      height: 50px;
      position: absolute;
      left: -70px;
      bottom: 160px; }
      body main .btnUp::before, body main .btnUp::after {
        content: '';
        width: 1px;
        height: 20px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform-origin: right top;
        background: #777;
        transition: 0.5s; }
      body main .btnUp::before {
        transform: rotate(45deg); }
      body main .btnUp::after {
        transform: rotate(-45deg); }
      body main .btnUp span {
        display: block;
        width: 1px;
        height: 40px;
        background: #777;
        position: absolute;
        top: 0px;
        left: 50%;
        transition: 0.5s 0.2s; }
      body main .btnUp p {
        font: 12px/60px 'orbitron';
        color: #111;
        text-align: center;
        letter-spacing: 2px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s 0.4s;
        opacity: 0; }
      body main .btnUp:hover::before {
        transform: rotate(45deg) translateY(-40px);
        opacity: 0; }
      body main .btnUp:hover::after {
        transform: rotate(-45deg) translateY(-40px);
        opacity: 0; }
      body main .btnUp:hover span {
        transform: translateY(-40px);
        opacity: 0; }
      body main .btnUp:hover p {
        top: 50%;
        opacity: 1; }
    body main .btnDown {
      display: block;
      width: 61px;
      height: 50px;
      position: absolute;
      left: -70px;
      bottom: 0px; }
      body main .btnDown::before, body main .btnDown::after {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        background: #777;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform-origin: right bottom;
        transition: 0.5s; }
      body main .btnDown::before {
        transform: rotate(-45deg); }
      body main .btnDown::after {
        transform: rotate(45deg); }
      body main .btnDown span {
        display: block;
        width: 1px;
        height: 40px;
        background: #777;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transition: 0.5s 0.2s; }
      body main .btnDown p {
        font: 12px/60px "orbitron";
        color: #111;
        text-align: center;
        letter-spacing: 2px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.5s 0.4s; }
      body main .btnDown:hover::before {
        transform: rotate(-45deg) translateY(40px);
        opacity: 0; }
      body main .btnDown:hover::after {
        transform: rotate(45deg) translateY(40px);
        opacity: 0; }
      body main .btnDown:hover span {
        transform: translateY(40px);
        opacity: 0; }
      body main .btnDown:hover p {
        top: 50%;
        opacity: 1; }
    body main .panel {
      width: 100%;
      height: 100%; }
      body main .panel > li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1; }
        body main .panel > li:nth-of-type(1) {
          background: #c0fafa; }
        body main .panel > li:nth-of-type(2) {
          background: #c3ffc3; }
        body main .panel > li:nth-of-type(3) {
          background: #fff9bf; }
        body main .panel > li:nth-of-type(4) {
          background: #fde1e6; }
        body main .panel > li.on {
          z-index: 2; }

/*# sourceMappingURL=style.css.map */
