@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

main {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex; }
  main header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 20%;
    height: 100%;
    padding: 10vh 5vw;
    z-index: 3; }
    main header h1 {
      font-size: 0px;
      color: #fff; }
      main header h1 i {
        font-size: 5vw;
        margin-bottom: 15px; }
      main header h1 span {
        font: 0.8vw/1 'arial'; }
    main header p {
      display: flex;
      text-align: center;
      font: 12px/1.2 'arial';
      color: #888; }
  main nav {
    position: absolute;
    top: 10vh;
    right: 5vw;
    z-index: 3; }
    main nav ul {
      display: flex; }
      main nav ul li a {
        margin-right: 30px;
        font-size: 18px;
        color: #bbb; }
  main section {
    display: flex;
    width: 80%;
    height: 100%;
    padding-top: 15vh; }
    main section article {
      flex: 1;
      position: relative;
      z-index: 1;
      padding: 70px 40px 100px;
      transition: flex 1s,padding 1s, opacity 1s;
      opacity: 0.5; }
      main section article:hover {
        flex: 1.5;
        z-index: 2;
        opacity: 1;
        padding-top: 30px; }
        main section article:hover::before {
          left: 0px;
          opacity: 1; }
        main section article:hover .inner .txt h2 {
          font-size: 5vw; }
          main section article:hover .inner .txt h2::after {
            width: 120px;
            background: orange; }
        main section article:hover .inner .txt p {
          width: 80%; }
        main section article:hover .inner figure {
          height: 25vh;
          transform: translateY(3vh);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3); }
          main section article:hover .inner figure video {
            filter: saturate(120%); }
      main section article::before {
        content: '';
        position: absolute;
        top: 0px;
        left: -200px;
        display: block;
        width: 80%;
        height: 95%;
        background: #444;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: 1s; }
      main section article .inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 100%;
        height: 100%; }
        main section article .inner .txt {
          width: 100%; }
          main section article .inner .txt h2 {
            margin-bottom: 40px;
            font: normal 2vw/1 'Alegreya Sans';
            color: #fff;
            transition: 1s; }
            main section article .inner .txt h2::after {
              content: '';
              display: block;
              width: 40px;
              height: 2px;
              margin-top: 20px;
              background: #777;
              transition: 1.5s; }
          main section article .inner .txt p {
            font: 14px/1.4 'arial';
            color: #999;
            transition: 1s; }
        main section article .inner figure {
          width: 100%;
          height: 15vh;
          transition: 1s; }
          main section article .inner figure video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: saturate(20%);
            transition: 1s; }
  main aside {
    position: absolute;
    top: 0px;
    left: -100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 20vh 7vw 14vh 20vw;
    background: #222;
    transition: 1s;
    opacity: 0; }
    main aside.on {
      left: 0%;
      opacity: 1; }
    main aside .txt {
      width: 25%;
      height: 100%; }
      main aside .txt h1 {
        font: normal 6vw/1 'Alegreya Sans';
        color: #444;
        margin-bottom: 20px; }
      main aside .txt p {
        font: 1.1vw/1.3 'arial';
        color: #666;
        margin-bottom: 60px; }
      main aside .txt span {
        color: orange;
        cursor: pointer; }
    main aside figure {
      width: 72%;
      height: 100%; }
      main aside figure video {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/*# sourceMappingURL=style.css.map */
